.navbar-brand {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 1em;
}

.nav-item .nav-link {
  color: black !important;
  margin-right: 32px;
}
.lorem {
  margin-left: 32px;
}

#carouselExampleControls a > div{ 
  background: black;
}

span > p {
  color: #2ea57b;

  text-align: center;
  margin-top: 20px;
}
span {
  display: flex !important;
  justify-content: space-between;
}
span > img {
  margin-right: 25px;
}
body {
  font-family: "Open Sans", sans-serif;
}
input {
  border: 5px solid grey !important;
  border-radius: 2px;
}

form > div {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
footer > .footer-bottom {
  background: #024055;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 16px;
}


.body-image {
  background-size: cover;
  height: 150px;
  width: 100%;
}

footer > .footer-top {
  width: 100%;
  justify-content: space-between;
  background: #015571;
  color: white;
  display: flex;
  flex-direction: row;
}
.ph-box {
  height: 120px;
  width: 100%;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747474;
}
.ph-box > strong {
  font-size: 30px;
}


.box-2 {
  color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.box-2 h3{
  margin-bottom: 1em;
}
.carousel-control-next, .carousel-control-prev {
  display: flex;
  justify-content: stretch;
  max-width:60px ;
}
 #carouselExampleControls a > div{
   width: 100%;
   text-align: center;
   padding: 1em;

 }
.em-box1 {
  width: 80px;
  height: 80px;
  background: white;
  margin: 0px 16px 0px 10px;
}
.em-box2 {
  width: 80px;
  height: 80px;
  background: white;
  margin-right: 10px;
}

.carousel {
  width: 100%;
}
.space {
  height: 100px;
  width: 100%;
}
.gap {
  height: 50px;
  width: 100%;
}
u {
  color: #747474;
  font-weight: normal !important;
}

.d-flex {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.slidre-img{
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.box-4 h3 {
  margin-bottom: 10px;
}
.box-1 p{
margin-top: 10px;
}

.input-group {
  width: 300px;
  border: none;
}
.input-group .btn {
  border-color: #2ea57b;
}
 .btn-success{
   background:  #2ea57b;
   color: white;
 }

.h3 {
  color: #015571;
}
.small {
  font-size: 16px;
}
.para {
  color: #747474;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.card-body h6 {
  font-weight: bold;
  margin-bottom: 2px;
}
.card-body{
  padding-left: 0px;
}
.img-div2 .card-img-top {
  background-size: cover;
  background-position: center;
}
h5 {
  color: #808080;
}
.card-text {
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#container-img-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h3 {
  margin-left: 18px;
}
.img-div .card {
  color: #747474;
  margin: 16px;
  max-width: 300px;
  border: none;
}

.img-div3 .card-img-top {
  background-size: cover;
  background-position: center;
}
#bt {
  background: #2ea57b;
  border: 1px solid #2ea57b;
  padding: 10px;
}

#slider {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100% !important;
}
footer h3 {
  color: white;
}
.box {
  width: 300px;
  padding: 1em;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}
.head {
  width: 100%;
}
.header-top > p {
  margin-bottom: 0px;
  color: #2ea57b;
  font-size: 16px;
  flex: 1;

}
.navbar-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#navbarSupportedContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-content-container {
  width: 100%;
}
.fb {
  background: #4d60ca;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.twiter {
  background: #03a9f4;
}
.twiter > i {
  color: white;
}
.youtube {
  background: red;
  color: white;
  font-size: 8px;
  text-align: center;
}
.item {
  display: flex;
}
.social {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}
.nav-link {
  padding-bottom: 0px;
}
form {
  margin-left: 20px;
}
.footer-top > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.footer-bottom > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom p {
  margin-bottom: 0px;
}
.footer-top p {
  font-size: 14px;
}
.footer-top h3 {
  font-size: 20px;
}
.fa-greater-than {
  margin-right: 10px;
}
.submit {
  display: flex;
}
.box-4 .form-control {
  border: 1px solid white !important;
}
.box-4 p{
  margin-bottom: 4px;
}
@media screen and (max-width: 991px) {
  .header-top {
    display: none;
  }
  .nav-item .nav-link {
    margin-left: 10px !important;
  }
  .nav-item{
    margin-right: auto;
  }
  .navbar-nav form{
    margin-left: 0px;
    margin-right: auto;
    margin-top: 1em;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
  
}
@media screen and (max-width: 767px){
  .footer-bottom > .container{
    justify-content: center;
  }
}

